<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h2>Search Books by Genre</h2>
    <input type="text" id="genreInput" placeholder="Enter Genre">
    <button onclick="getBooksByGenre()">Search</button>
    <div id="genreBooksList"></div>

    <h2>Delete Book by ID</h2>
    <input type="text" id="bookIdInput" placeholder="Enter Book ID">
    <button onclick="deleteBookByIdInput()">Delete</button>

    <script src="../js/app.js"></script>
</body>
</html>
